{% extends 'courier/basic.html' %}

{% block title%} Sign in {% endblock %}
{% block body %}

    <div class="container">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-body modal-body-sub_agile">
					<div class="main-mailposi">
						<span class="fa fa-envelope-o" aria-hidden="true"></span>
					</div>
					<div class="modal_body_left modal_body_left1">
						<form  method="post" class="form-group">
                             {% csrf_token %}
							<div class="styled-input agile-styled-input-top">
								<input type="text" placeholder="User Name" name="username" id="username" required="">
							</div>
							<div class="styled-input">
								<input type="password" placeholder=" New password" name="password" id="password" required="">
							</div>
							<input type="submit" value="Change">
						</form>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<!-- //Modal content-->
		</div>



{% endblock %}