{% extends 'courier/basic.html' %}

{% block title%} Sign in {% endblock %}
{% block body %}

    <div class="container">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body modal-body-sub_agile">
					<div class="main-mailposi">
						<span class="fa fa-envelope-o" aria-hidden="true"></span>
					</div>
					<div class="modal_body_left modal_body_left1">
			<h3 class="agileinfo_sign">Sign In </h3>
						<p>Don't have an account? <a href="/signup">Sign Up</a> Now
						</p>
						<form  method="post" class="form-group">
                             {% csrf_token %}
							<div class="styled-input agile-styled-input-top">
								<input type="text" placeholder="User Name" name="username" id="username" required="">
							</div>
							<div class="styled-input">
								<input type="password" placeholder="Password" name="password" id="password" required="">
							</div>
							<input type="submit" value="Sign In">
						</form>
                        <p>Forgot  <a href="/change_password">password?</a>
						</p>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<!-- //Modal content-->
		</div>



{% endblock %}