{% extends 'courier/emp_basic.html' %}

{% block title %} Track {% endblock %}
{% block css %}
    <style>
        *
            /* Create three equal columns that floats next to each other */
        .column {
            float: left;
            width: 33.33%;
            padding: 10px;
            /* height: 300px  Should be removed. Only for demonstration */
        }
         h2{

         }
        /* Clear floats after the columns */
        .row:after {
            content: "";
            clear: both;
        }
    </style>

{% endblock %}
{% block body %}
    <div class="content1 ">
        <h2 style="font-size: 40px; color: #030402; "><strong>Reporting Date : {{ reporting_date }}</strong> </h2>
    </div>

    <div class="row">
        <div class="column" style="background-color:#aaa;">

            <div style="background-color:#bbb; margin-bottom: 30px">
                <div class="content1 ">
                    <h2>Placed orders : {{ total_placed.count }}</h2>
                </div>
                <!-- <div class="col-lg-8 mx-auto">List group-->
                <ul>
                    <li style="background-color:#ccb0be;" class="list-group-item d-flex justify-content-between align-items-center text-black">
                        <span>Order id</span>
                        <span>Description</span>
                        <span>Time</span>
                    </li>
                    {% for i in total_placed %}
                        <!-- list group item-->
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span style="color: black">{{ i.order_id }}</span>
                            <span style="color: black">{{ i.update_desc }}</span>
                            <span style="color: black">{{ i.time.time }}</span>


                        </li>

                        <!-- End -->
                    {% endfor %}

                    <div>


                    </div>

                </ul>
            </div>
            <div style="background-color:#bbb; margin-bottom: 30px">
                <div class="content1 ">
                    <h2 style=" color: #030402;">Pending orders : {{ total_pending.count }}</h2>
                </div>
                <ul>
                    <li style="background-color:#ccb0be;" class="list-group-item d-flex justify-content-between align-items-center text-black">
                        <span>Order id</span>
                        <span>Time</span>
                    </li>
                    {% for i in total_pending %}
                        <!-- list group item-->
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span style="color: black">{{ i.order_id }}</span>
                            <span style="color: black">{{ i.time.time }}</span>


                        </li>

                        <!-- End -->
                    {% endfor %}

                    <div>


                    </div>

                </ul>
            </div>

        </div>

        <div class="column" style="background-color:#bbb;">

            <div style="background-color:#ccc; margin-bottom: 30px">
                <div class="content1">
                    <h2 style=" color: #030402;">Picked-up orders : {{ total_picked.count }}</h2>
                </div>
                <ul>
                    <li style="background-color:#ccb0be;" class="list-group-item d-flex justify-content-between align-items-center text-black">
                        <span>Order id</span>
                        <span>Description</span>
                        <span>Time</span>
                    </li>
                    {% for i in total_picked %}
                        <!-- list group item-->
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span style="color: black">{{ i.order_id }}</span>
                            <span style="color: black">{{ i.update_desc }}</span>
                            <span style="color: black">{{ i.time.time }}</span>


                        </li>

                        <!-- End -->
                    {% endfor %}

                    <div>


                    </div>

                </ul>
            </div>
            <div style="background-color:#ccc;">
                <div class="content1">
                    <h2 style=" color: #030402;">Reached orders : {{ total_reached.count }}</h2>
                </div>
                <ul>
                    <li style="background-color:#ccb0be;"class="list-group-item d-flex justify-content-between align-items-center text-black">
                        <span>Order id</span>
                        <span>Description</span>
                        <span>Time</span>
                    </li>
                    {% for i in total_reached %}
                        <!-- list group item-->
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span style="color: black">{{ i.order_id }}</span>
                            <span style="color: black">{{ i.update_desc }}</span>
                            <span style="color: black">{{ i.time.time }}</span>


                        </li>

                        <!-- End -->
                    {% endfor %}

                    <div>


                    </div>

                </ul>
            </div>
        </div>
        <div class="column" style="background-color:#bbb;">

            <div style="background-color:#ccc; margin-bottom: 30px">
                <div class="content1">
                    <h2 style=" color: #030402;">Delivered orders : {{ total_delivered.count }}</h2>
                </div>
                <ul>
                    <li style="background-color:#ccb0be;" class="list-group-item d-flex justify-content-between align-items-center text-black">
                        <span>Order id</span>
                        <span>Description</span>
                        <span>Time</span>
                    </li>
                    {% for i in total_delivered %}
                        <!-- list group item-->
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span style="color: black">{{ i.order_id }}</span>
                            <span style="color: black">{{ i.update_desc }}</span>
                            <span style="color: black">{{ i.time.time }}</span>


                        </li>

                        <!-- End -->
                    {% endfor %}

                    <div>


                    </div>

                </ul>
            </div>
            <div style="background-color:#ccc7c4;">
                <div class="content1" style="background-color:#cc6944;">
                    <h2 >Overall</h2>
                </div>
                <ul >
                    <li style="background-color:#ccb0be;" class="list-group-item d-flex justify-content-between align-items-center text-black">
                        <span>Orders</span>
                        <span>...................</span>
                        <span>Total</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center text-black">
                        <span>Placed</span>
                        <span>...................</span>
                        <span>{{ total_placed.count }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center text-black">
                        <span>Picked-up</span>
                        <span>...................</span>
                        <span>{{ total_picked.count }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center text-black">
                        <span>Pending</span>
                        <span>...................</span>
                        <span>{{ total_pending.count }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center text-black">
                        <span>Reached</span>
                        <span>...................</span>
                        <span>{{ total_reached.count }}</span>
                    </li><li class="list-group-item d-flex justify-content-between align-items-center text-black">
                        <span>Delivered</span>
                        <span>...................</span>
                        <span>{{ total_delivered.count }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center text-black">
                        <span>Received(TK)</span>
                        <span>...................</span>
                        <span>{{ total_tk }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}